.head-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vw;
  text-align: center;

  &__item-img {
    height: 40vw;

  }

  &__img {
    position: relative;
    width: 100vw;
    object-fit: cover;
    height: 40vw;
  }

  &__text-box {
    display: flex;
    width: 100vw;
    color: white;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
  }

  &__heading-box {

  }

  &__heading {
    font-size: 2.5vw;
    font-weight: lighter;
    font-family: 'MuseoSansCyrl-100', sans-serif;
  }

}

.background-color {

  // SPAR
  &__3C3B3F {
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  // офисное здание
  &__606c88 {
    background: #606c88;
    background: -webkit-linear-gradient(to left, #3f4c6b, #606c88);
    background: linear-gradient(to left, #3f4c6b, #606c88)
  }

  // планета электрика

  // ВАРИАНТ ПОТЕМНЕЕ С ГРАДИЕНТОМ
  // background: #000428;
  // background: -webkit-linear-gradient(to top, #004e92, #000428);
  // background: linear-gradient(to top, #004e92, #000428
  &__457fca {
    background: -webkit-linear-gradient(135deg, #a26b4c,#ab8f67);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #a26b4c,#ab8f67);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  // Центр Жираф
  &__485563 {
    //background: #485563;
    //background: -webkit-linear-gradient(to left, #29323c, #485563);
    //background: linear-gradient(to left, #29323c, #485563)
  }

  // СИБАГРО
  &__093028 {
    background: #093028;
    background: -webkit-linear-gradient(to left, #237A57, #093028);
    background: linear-gradient(to left, #237A57, #093028)
  }

  // Аппартаменты
  &__536976 {
    background: #536976;
    background: -webkit-linear-gradient(to left, #292E49, #536976);
    background: linear-gradient(to left, #292E49, #536976)
  }

  &__919e6a {
    background: -webkit-linear-gradient(135deg, #8d996c,#ab8f67);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #8d996c,#ab8f67);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &__8ebce9 {
    background: -webkit-linear-gradient(44deg, #8ebce9,#99a3b2);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(44deg, #8ebce9,#99a3b2);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &__d4d7df {
    background: -webkit-linear-gradient(323deg, #2a3142,#8e92a0);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(323deg, #2a3142,#8e92a0);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }



}

.product-box {
  @media (max-width: 989px) {
    .product-box {
      &__spar {

      }

      &__double-box {
        display: flex;
        flex-wrap: wrap;
      }
      &__left-item {
        width: 100%;
      }
      &__right-item {
        width: 100%;
      }

      &__heading {
        font-size: 5vw;
      }

      &__about {
        font-size: 2.5vw;
      }
    }
  }
}

.product-box {
  &__spar {
    display: flex;
    flex-wrap: wrap;
  }

  &__office {
    display: flex;
    flex-wrap: wrap;
  }
  &__electric {
    display: flex;
    flex-wrap: wrap;
  }

  &__sibagro {
    display: flex;
    flex-wrap: wrap;
  }
  &__apparts {
    display: flex;
    flex-wrap: wrap;
  }

  &__tusur{
    display: flex;
    flex-wrap: wrap;
  }
  &__church {
    display: flex;
    flex-wrap: wrap;
  }
  &__business {
    display: flex;
    flex-wrap: wrap;
  }
  &__img {
    object-fit: cover;
    height: 60vh;
    width: 100%
  }
  &__main-img {
    width: 100vw;
    height: auto;
  }

  &__big-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__double-box {
    display: flex;
    width: 100%;
  }

  &__text-box {
    display: flex;
    padding: 3vw;
    height: 100%;
    width: 100%;
    color: white;
    flex-direction: column;
    justify-content: space-around;
    font-weight: lighter;
    font-family: 'MuseoSansCyrl-100', sans-serif;
  }

  &__right-item {
    width: 50%;
    height: 60vh;
  }

  &__left-item {
    width: 50%;
    height: 60vh;
  }

  &__about-box {
    display: flex;
  }

  &__heading-box {

  }

  &__heading {
    font-size: 2vw;
  }

  &__about {
    font-size: 1vw;
  }

  &__right-img {
    height: 100%;
  }

  &__left-item {
    width: 50%;
  }

  &__left-img {

  }

  .btn {
    display: block;
    text-decoration: none;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
  }

  .btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
  }
}
