.recovery-password {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-family: "MuseoSansCyrl-300", sans-serif;

  &__form-container {
    display: flex;
    flex-direction: column;
    padding: 1vw;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
  }

  &__email-label,
  &__code-label,
  &__reset-label {
    margin-bottom: 10px;
  }

  &__email-input,
  &__code-input,
  &__reset-input {
    padding: 10px;
    margin-bottom: 20px;
  }

  &__email-submit,
  &__code-submit,
  &__reset-submit {
    padding: 10px;
  }

  &__checkpoint-list {
    color: green;
    font-size: 1vw;

  }
  &__checkpoint-item {

  }


}