

.main-box {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main-box__left-img {
    overflow: hidden;
    height: 100%;
    width: 33.3%;
    display: block;
    transition: 1s
}

.main-box__middle-img {
    overflow: hidden;
    height: 100%;
    width: 33.3%;
    transition: 1s

}


.main-box__right-img {
    overflow: hidden;
    height: 100%;
    width: 33.3%;
    transition: 1s
}

.main__img {
    object-fit: cover;
    object-position: center;
    transition: 1s;
    display: block;
}

.main__img:hover {
    transform: scale(1.1)
}

.form-component {
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%);
}