<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{#    <meta name="description" content="Василий Рыбаков Коммерческий дизайн Фасады Брендбук Томск Москва Новосибирск Красноярск Россия " />#}
    <meta name="description" content="VR Услуги по коммерческому дизайну, созданию фасадов и разработке брендбуков. Команда профессиональных дизайнеров поможет воплотить ваши идеи в реальность и создать уникальный бренд в соответствии с требованиями и ожиданиями вашей аудитории.">
    <meta property="og:url" content="http://vasiliyrybakov.com" />
    <meta property="og:title" content="VR Commercial design" />
    <meta property="og:description" content="VR Услуги по коммерческому дизайну, созданию фасадов и разработке брендбуков. Команда профессиональных дизайнеров поможет воплотить ваши идеи в реальность и создать уникальный бренд в соответствии с требованиями и ожиданиями вашей аудитории" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="Russia" />
    <meta property="og:site_name" content="VR Commercial" />
    <meta property="og:image" content="https://vasiliyrybakov.online/media/favicon.svg" />
    <link rel="shortcut icon" href="https://vasiliyrybakov.online/media/favicon.svg" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://vasiliyrybakov.online/media/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="https://vasiliyrybakov.online/media/favicon.ico">
    <link rel="apple-touch-icon" sizes="152x152" href="https://vasiliyrybakov.online/media/favicon.ico">
    <link rel="apple-touch-startup-image" href="https://vasiliyrybakov.online/media/favicon.ico">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="https://vasiliyrybakov.online/media/favicon.ico">
    <meta property="og:type" content="website">
    <meta name="google-site-verification" content="HWwpDQ8rwzPX8UK9mvUmRKoYTIMOqQFkNHbFgwImUAI" />
    <meta name="yandex-verification" content="6db348ed44d6b3e5" />
    <title>VR Дизайн</title>
</head>
<body>
<div id="root"></div>
{% csrf_token %}
</body>
</html>

