.personal-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f8f4ea;
  font-family: "MuseoSansCyrl-300", sans-serif;

  &__title {
    font-size: 2vw;
    text-align: center;
  }

  &__content {
    font-size: 1vw;
    line-height: 1.5;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
}

.email-status {
  &--confirmed {
    color: green;
  }

  &--not-confirmed {
    color: red;
  }
}

.email-activation-link {
  color: black;
}

.change-password-form {
      display: flex;
    flex-direction: column;
}

.form-errors {
      list-style: none;
    //padding: 0;
    margin: 0;
}