.personal-page {
  // Стили для блока personal-page
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  &__title {
    // Стили для элемента personal-page__title
    margin-top: 5vw;
    font-size: 36px;
    text-align: center;
  }

  &__content {
    // Стили для элемента personal-page__content
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
  }
}